/* Reset / Base Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML & Body */
html {
    font-size: 1em;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: #1a1a1a;
    overflow-x: hidden;
}

/* Headings */
h1, h2, h3 {
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif;
    color: #111;
    line-height: 1.2;
    margin-bottom: 0.5em;
    font-weight: 600;
}

header {
    position: relative;
}

nav {
    position: fixed;
    inset: 0 0 auto 0;
    background-color: #fff;
    color: #111;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navbar-brand {
    display: block;
    font-size: 1.5rem;
    color: #1e90ff;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 600;
    font-style: italic;
    transition: all 0.4s ease, color 0.4s ease;
}

.navbar-brand span {
    color:  #4682b4;
}

.navbar-brand:hover {
    background-color: #d6f0ff;
    color: #004080;
}

.toggler-btn {
  padding: 14px 16px;
  color: #1e90ff;
  background-color: #fff;
  font-size: 1.5rem;
  border: none;
  font-weight: 600;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.toggler-btn:hover {
    background-color: #cce7ff;
    color: #003366;
}

#fixed-sibebar {
  position: relative;
}

aside div.container {
    position: fixed;
    inset: 0 0 0 auto;
    width: 300px;
    background-color: #fff;
    color: #111;
    box-shadow: none;
    -webkit-overflow-scrolling: touch;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 100;
}

/* Active / Open state */
aside div.container.open {
    transform: translateX(0);
     box-shadow: -5px 0 15px rgba(0,0,0,0.15);
}

aside div.container a {
    display: block;
    color: #1a1a1a;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 6px 16px;
    margin: 0;
    transition: background-color 0.4s ease, color 0.4s ease;
}

aside div.container a:hover {
  background-color: #cce7ff;
  color: #003366;
}

aside div.container a.brand {
    font-size: 1.5rem;
    color: #1e90ff;
    font-style: italic;
}

aside div.container a.brand span {
    color: #4682b4;
}

.close-btn {
    float: right;
    padding: 12px 16px;
    background-color: transparent;
    border: none;
    color: #111;
    font-size: 1.5rem;
    transition: color 0.4s ease;
}

.close-btn:hover {
    color: #0000ff;
}

main {
    margin-top: 60px;
}

.hero-section {
  background-color: #f9f9f9;
  text-align: center;
  padding: 2.5rem 0 1.5rem;
}

.hero-title {
    color: #717171;
    font-style: italic;
}

.hero-section p {
margin-bottom: 1.3rem;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 2.5rem;
}

.hero-btn button {
    display: block;
    background-color: darkcyan;
    border: none;
    color: #f9f9f9;
    padding: 16px 24px;
    font-size: 1rem;
    border-radius: 10px;
    transition: background-color 0.4s ease;
}

.hero-btn button:hover {
    background-color: #0c3f3f;
}

div.team-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 0 10px;
}

div.team-member {
    box-shadow: 0 4px 3px rgba(0,0,0, 0.15);
    height: 230px;
    border-radius: 10px;
}

div.team-member img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    transition: all 0.4s ease;
    transform: scale(1);
}

div.team-member img:hover {
    opacity: 1;
    transform: scale(1.02);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.pagination a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #111;
  border-radius: 4px;
  transition: all 0.4s ease;
}

/* Hover (except active) */
.pagination a:not(.active):hover {
  background-color: #003366;
  color: #ffffff;
}

/* Active page */
.pagination a.active {
  background-color: #1e90ff;
  color: #ffffff;
}

.about-section {
  background-color: #f3f3f3;
  padding: 2.5rem 1rem;
}

.about-section h2 {
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
}

.about-image {
  max-width: 800px;
  margin: 0 auto;
  height: 400px;
}

.about-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-info {
  padding-top: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.about-info h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.contact-buttons {
  padding-top: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.contact-buttons a {
  display: block;
  color: #1a1a1a;
  text-decoration: none;
  margin-bottom: 1rem;
  transition: all 0.4s ease;
  width: 180px;
}

.contact-buttons a:hover {
  color: #1e90ff;
  text-decoration: underline;
}

.contact-buttons a i {
  padding: 0 1rem 0 0;
  font-size: 1.5rem;
  color: #1e90ff;
}

.portfolio-section {
  background-color: #ececec;
  padding: 2.5rem 1rem 3.5rem;
}

.portfolio-section .container {
  max-width: 800px;
  margin: 0 auto;
}

.portfolio-section .container h2 {
  font-size: 1.3rem;
}

.portfolio-section .container p {
  margin: 1rem 0 .7rem;
}

.skill-bar {
  background-color: #4682b4;
  text-align: center;
}

.prog95 {
  background-color: #004080;
  width: 95%;
  color: #fff;
  padding: 0.3rem 0;
}

.prog90 {
  background-color: #004080;
  width: 90%;
  color: #fff;
  padding: 0.3rem 0;
}

.prog85 {
  background-color: #004080;
  width: 85%;
  color: #fff;
  padding: 0.3rem 0;
}

.skill-bar, .prog95, .prog90, .prog85 {
  border-radius: 4px;
}

.prog95, .prog90, .prog85 {
  transition: width 1.2s ease;
  font-weight: 600;
}

.prog95, .prog90, .prog85 {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.services-section {
  padding: 2.5rem 1rem;
  background: #e4e4e4;
}

.services-section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}



@media only screen and (max-width: 1024px) {
  div.team-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
    
  div.team-member {
    height: 280px;
  }
}

@media only screen and (max-width: 768px) {
  div.team-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
    
  div.team-member {
    height: 320px;
  }
}

@media only screen and (max-width: 600px) {
  div.team-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
    
  div.team-member {
    height: 245px;
  }
}

@media only screen and (max-width: 430px) {
  div.team-gallery {
    grid-template-columns: auto;
    padding: 0 1rem;
  }
    
  div.team-member {
    height: 300px;
  }

  aside div.container {
    width: 70%;
  }

  h1.hero-title {
    font-size: 1.5rem;
  }

  .hero-section p {
    font-size: 14px;
  }
}
